.container{
    background-color: yellowgreen;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}
.item{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    grid-template: ;
}
.item1{
    grid-row-start: 1;
    grid-row-end: span 5;
    grid-column-start: 1;
    grid-column-end: span 2;
   
}
/* .item2{
    grid-row-start:3 ;
    grid-row-end:4 ;
    grid-column-start:3 ;
    grid-column-end:4 ;
} */
.item2{
    /* grid-row: 3/4;
    grid-column: 3/4; */
    
}
.item4{
    background-color: red;
    grid-row: 3/4;
    grid-column: 1/2;
}