.grid{
    background: yellow;
    display: grid;
    margin: 120px auto;
    width: 1400px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
}
.item{
    background-color: blue;
    border: 1px solid black;
    color: white;
}